.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sidebar {
  background-color: #05AAE6 !important;
}

.nav-link {
  color: #012C70 !important;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.formularioRegistrarEquipo fieldset legend {
  text-align: left;
}

.boton {
  background-color: #012C70;
}

.titulo-jugador {
  text-align: left;
}

.btn-eliminar-jugador {
  text-align: right;
}

.detalleEquipo label {
  font-weight: bold;
}

.table-responsive thead {
  background-color: #05AAE6 !important;
}

.table-responsive thead th {
  color: #012C70 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
